<div [@routerTransition]>
    <app-page-header [heading]="'Expenditures'" [icon]="'fa-table'"></app-page-header>
    <div>
        <form *ngIf="filter" #f="ngForm" novalidate (submit)="filterExpenditures(f); f.reset()" >
            <div>
                <label>Category</label>
                <select class="form-control"   name="category" ngModel>
                    <option></option>
                    <option *ngFor="let category of categories" value={{category.category}}  >{{category.category}}</option>
                </select>
            </div>
            <div>
                <label>Start Date</label>
                <input class="form-control input-underline input-lg" type="date" placeholder="Pick Date" name="startDate" ngModel  >
            </div>
            <div>
                <label>End Date</label>
                <input class="form-control input-underline input-lg" type="date" placeholder="Pick Date" name="endDate" ngModel  >
            </div>
            <button class="btn-group-sm button" style="margin-top: 15px;" type="submit" [disabled]="!f.form.valid">Filter/Reset</button>
            <button class="btn-group-sm button" style="margin-top: 5px;" type="button" (click)="cancel()" >Cancel <i class="fa fa-remove"></i></button>
        </form>
    </div>
    <div class="card mb-3" *ngIf="transactions">
        <div class="card-header" >Expenditures
            <button class="pull-right" style="width:200px; height: 40px; background-color: darkgray;" (click)="filterView()">Filter Expenditures</button>
        </div>

        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Payer / Payee</th>
                    <th>Transaction Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Account Type</th>

                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let transaction of transactions">
                    <td>{{transaction.payee}}</td>
                    <td>{{transaction.transactionDate | date: 'MM-dd-yyyy'}}</td>
                    <td>{{transaction.amount | currency: 'USD'}}</td>
                    <td>{{transaction.category}}</td>
                    <td>{{transaction.accountType}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
